@font-face {
  font-family: "iconfont"; /* Project id 4880820 */
  src: url('//at.alicdn.com/t/c/font_4880820_ee6cbajfqyj.woff2?t=1745066946334') format('woff2'),
       url('//at.alicdn.com/t/c/font_4880820_ee6cbajfqyj.woff?t=1745066946334') format('woff'),
       url('//at.alicdn.com/t/c/font_4880820_ee6cbajfqyj.ttf?t=1745066946334') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #796060;
}

.icon-gou:before {
  content: "\e605";
}

.icon-cha:before {
  content: "\e68b";
}

.icon-yonghu1:before {
  content: "\e61b";
}

.icon-listyule:before {
  content: "\e70c";
}

.icon-navicon-jkhd:before {
  content: "\e669";
}

.icon-navicon-hdbk:before {
  content: "\e66a";
}

.icon-guanli:before {
  content: "\e604";
}

.icon-dating:before {
  content: "\e6b1";
}

.icon-fuzhi:before {
  content: "\eac1";
}

.icon-shijian:before {
  content: "\e854";
}

.icon-wodewenzhang:before {
  content: "\e7d3";
}

.icon-yonghu2:before {
  content: "\e6c8";
}

.icon-shipin2:before {
  content: "\e812";
}

.icon-shoucang1:before {
  content: "\e66b";
}

.icon-sousuo1:before {
  content: "\e63c";
}

.icon-zhongxinjiazai:before {
  content: "\e807";
}

.icon-shipin:before {
  content: "\e606";
}

.icon-wenti:before {
  content: "\e80c";
}

.icon-wentijieda:before {
  content: "\ec2e";
}

.icon-shipin1:before {
  content: "\e618";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-xiangxiajiantou:before {
  content: "\e67c";
}

.icon-a-wenjianjia1:before {
  content: "\e67d";
}

.icon-xiangshangjiantou:before {
  content: "\e67e";
}

.icon-zuojiantou:before {
  content: "\e67f";
}

.icon-zhucaidan:before {
  content: "\e680";
}

.icon-youjiantou:before {
  content: "\e681";
}

.icon-bianji1:before {
  content: "\e77c";
}

.icon-sousuo:before {
  content: "\e782";
}

.icon-dianzan:before {
  content: "\e789";
}

.icon-shuaxin:before {
  content: "\e78c";
}

.icon-fenxiang:before {
  content: "\e7a0";
}

.icon-shanchu2:before {
  content: "\e7a9";
}

.icon-shoucang:before {
  content: "\e7ab";
}

.icon-caidan:before {
  content: "\101f4";
}

.icon-genzongdingwei:before {
  content: "\101f5";
}

.icon-gongpai:before {
  content: "\101f6";
}

.icon-zhengque:before {
  content: "\e7b6";
}

.icon-kongqizhiliang:before {
  content: "\e7da";
}

.icon-jiazai:before {
  content: "\e7eb";
}

.icon-yaowan:before {
  content: "\e63a";
}

.icon-xindian:before {
  content: "\e63b";
}

.icon-pinglun1:before {
  content: "\e823";
}

.icon-bianji2:before {
  content: "\e6dd";
}

.icon-quanping3:before {
  content: "\e6de";
}

.icon-daohang:before {
  content: "\e6df";
}

.icon-yuyin:before {
  content: "\e6e0";
}

.icon-shouye:before {
  content: "\e6e1";
}

.icon-zhenduan:before {
  content: "\e6e2";
}

.icon-shuju:before {
  content: "\e6e3";
}

.icon-xitongguanli-icon:before {
  content: "\e6e4";
}

.icon-yonghu:before {
  content: "\e6e5";
}

.icon-zuzhi:before {
  content: "\e6e6";
}

.icon-mima-2:before {
  content: "\e6e7";
}

.icon-shenghuo:before {
  content: "\e6e8";
}

.icon-tuihui:before {
  content: "\e6e9";
}

.icon-peijianmingxi:before {
  content: "\e6ea";
}

.icon-mubiaoguanli-icon:before {
  content: "\e6eb";
}

.icon-tupianxiazai:before {
  content: "\e6ec";
}

.icon-zhuzhuangtu_fenxi:before {
  content: "\e6ed";
}

.icon-lajitong:before {
  content: "\e675";
}

.icon-wangzhan:before {
  content: "\e677";
}

.icon-tongjiliang:before {
  content: "\e678";
}

.icon-shangchuan:before {
  content: "\e676";
}

.icon-wenben:before {
  content: "\e679";
}

.icon-a-tupian1:before {
  content: "\e67a";
}

.icon-yinfu:before {
  content: "\e67b";
}

.icon-bingyuanshenlu:before {
  content: "\e68d";
}

.icon-lishi:before {
  content: "\e639";
}

.icon-coolFlow:before {
  content: "\e653";
}

.icon-xinxi:before {
  content: "\e60f";
}

.icon-shezhi:before {
  content: "\e60b";
}

.icon-touxiang5:before {
  content: "\e632";
}

.icon-plume:before {
  content: "\e607";
}

.icon-sands:before {
  content: "\e608";
}

.icon-circle:before {
  content: "\e60a";
}

.icon-shoucang-copy:before {
  content: "\e600";
}

.icon-cryo:before {
  content: "\e601";
}

.icon-tubiaozhizuomoban:before {
  content: "\e602";
}

.icon-yuanshen:before {
  content: "\e603";
}

.icon-bianji:before {
  content: "\e6f3";
}

.icon-bofang:before {
  content: "\e6f4";
}

.icon-a-wo:before {
  content: "\e6f5";
}

.icon-guanjun:before {
  content: "\e6f6";
}

.icon-chakansousuo:before {
  content: "\e6f7";
}

.icon-dangan:before {
  content: "\e6f8";
}

.icon-pinglun:before {
  content: "\e6f9";
}

.icon-paizhao:before {
  content: "\e6fa";
}

.icon-dingwei:before {
  content: "\e6fb";
}
